<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.ui.commands">
		<category name="JSTools" id="com.pkg.jstools.commands.category"/>
		<command name="JSLint" categoryId="com.pkg.jstools.commands.category" id="com.pkg.jstools.commands.jsLint"/>
		<command name="JSBeautify" categoryId="com.pkg.jstools.commands.category" id="com.pkg.jstools.commands.jsBeautify"/>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler commandId="com.pkg.jstools.commands.jsLint" class="com.pkg.jstools.handlers.JSLintHandler"/>
		<handler commandId="com.pkg.jstools.commands.jsBeautify" class="com.pkg.jstools.handlers.JSBeautifierHandler"/>
	</extension>
	<extension point="org.eclipse.ui.bindings">
		<key commandId="com.pkg.jstools.commands.jsLint" contextId="org.eclipse.ui.contexts.window" sequence="M1+6" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
		<key commandId="com.pkg.jstools.commands.jsBeautify" contextId="org.eclipse.ui.contexts.window" sequence="M1+7" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=additions">
			<menu label="JSTools" mnemonic="T" id="com.pkg.jstools.menus.sampleMenu">
				<command commandId="com.pkg.jstools.commands.jsLint" icon="icons/lint.png" id="com.pkg.jstools.menus.lint" label="Run JSLint" mnemonic="L" tooltip="Run JSLint"/>
				<command commandId="com.pkg.jstools.commands.jsBeautify" icon="icons/beautify.png" id="com.pkg.jstools.menus.beautify" label="Beautify JS" mnemonic="B" tooltip="Beautify JS"/>
			</menu>
		</menuContribution>
		<menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
			<toolbar id="com.pkg.jstools.toolbars.jsToolbar">
				<command commandId="com.pkg.jstools.commands.jsLint" icon="icons/lint.png" id="com.pkg.jstools.toolbars.lint" label="Run JSLint" tooltip="Run JSLint"/>
				<command commandId="com.pkg.jstools.commands.jsBeautify" icon="icons/beautify.png" id="com.pkg.jstools.toolbars.beautify" label="Beautify JS" tooltip="Beautify JS"/>
			</toolbar>
		</menuContribution>
	</extension>
 <extension point="org.eclipse.ui.preferencePages">
    <!-- 
    <page
          class="com.pkg.jstools.preferences.Preferences"
          id="com.pkg.jstools.preferences.Preferences"
          name="JS Tools">
    </page> -->
 
    <page
          class="com.pkg.jstools.preferences.LintPreferencePage"
          id="com.pkg.jstools.preferences.LintPreferences"
          category="com.pkg.jstools.preferences.Preferences"
          name="JS Lint">
    </page>
    <page
          class="com.pkg.jstools.preferences.BeautifierPreferencePage"
          id="com.pkg.jstools.preferences.BeautifierPreferencePage"
          category="com.pkg.jstools.preferences.Preferences"
          name="JS Beautifier">
    </page>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="com.pkg.jstools.preferences.PreferenceInitializer">
    </initializer>
 </extension>
</plugin> 
